@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Work+Sans&display=swap');

html {
  scroll-behavior: smooth;
  font-size: calc(80% + .6vw);
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;

}

:root {
  --clr-l: #fffffa;
  --clr-l1: hsl(51, 50%, 80%);
  --clr-d: hsl(12, 52%, 10%);
  --clr-bg-d: hsl(231, 25%, 25%);
  --clr-bg-d1: hsl(51, 30%, 10%);
  --clr-bg-d2: hsl(231, 25%, 10%);
  --clr-bg-l: hsl(51, 30%, 50%);
  --clr-bg-h: hsl(231, 90%, 55%);
  --clr-bg-h1: hsl(21, 70%, 45%);
  --clr-bg-l1: hsl(17, 10%, 80%);
  --shadow-sm: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
  --round-o: .8em;
  --round-i: .3em;
  --round-pill: 1000px;
  --darken: rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Poppins', 'Work Sans', sans-serif;
  background-color: var(--clr-bg-d2);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  min-height: 100vh;
  max-width: 12in;
  background-color: var(--clr-bg-d);
  color: var(--clr-d);
}

.u-rounded {
  border-radius: var(--round-o);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.2rem;
  border-radius: var(--round-i);
  padding: .2em .5em;
}

.btn-p {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .2em .5em;
}

.btn:hover {
  box-shadow: 0px 0px 0px 4px var(--clr-bg-h1);
  outline: none;
}

.flex-h {
  display: flex;
  flex-direction: column;
}

.flex-v {
  display: flex;
}

.btn:focus {
  box-shadow: 0px 0px 0px 2px var(--clr-bg-h1);
  outline: none;
}

.btn:active {
  box-shadow: 0px 0px 0px 6px var(--clr-bg-h1);
}

.cta {
  color: var(--clr-l1);
  background-color: var(--clr-bg-h);
  padding: .2em 1.5em;
}

.list-nd {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-basis: 100%;
  padding: 0 1em;
  flex-direction: row;
  justify-content: space-between;
}

.nav-main {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  font-size: 1rem;
  justify-content: left;
  align-items: center;
}

.nav-main :not(:first-child) {
  margin-left: 2em;
  font-size: .8rem;
}

.nav-secondary {
  display: flex;
  flex-grow: 1;
  flex-basis: 80%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* outline: 1px solid red; */
  font-size: .8rem;
}

.controls-h {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: stretch;
  align-items: stretch;
  gap: .5em;
  margin: 0 0 1em 0;
  background: var(--darken);
  border-radius: var(--round-i);
  padding: .2em;
}

p {
  backdrop-filter: brightness(110%);
  padding: .5em 1em;
  margin: 0;
  margin-bottom: 1em;
  border-radius: var(--round-i);
  box-shadow: var(--shadow-sm);
  background-color: var(--clr-l);
}

.u-shadow-1 {
  box-shadow: var(--shadow-sm);
}

.u-bg-p {
  color: var(--clr-l);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  color: var(--clr-l1);
  background-color: var(--clr-bg-d);
  position: sticky;
  top:0;
  z-index: 1;
}

.App-main {
  background-color: var(--clr-bg-l1);
  flex-grow: 1;
  max-width: 100vw;
  padding: 2vw 5vw;
  margin: .5em .5em;
  line-height: 1.6;
}

.container  {
  background-color: var(--clr-bg-d1);
  color: var(--clr-l);
  flex-grow: 1;
  max-width: 100vw;
  padding: 2vw 5vw;
  margin: .5em .5em;
  line-height: 1.6;
}

.App-footer {
  background-color: var(--clr-bg-d);
  min-height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  color: var(--clr-l1);
  position: sticky;
  bottom: 0;
  z-index: 0;
}

.btn-sq {
  width: 1.5em;
  height: 1.5em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
